In [1]:
import requests
import json
from collections import defaultdict
import pandas as pd

In [2]:
start = 0
headers1 = {'Accept': 'application/json', 'user-key':'3a216d6dc9fddd6a5152b46fe2f6afc0'}
headers2 = {'Accept': 'application/json', 'user-key':'ee90f24274fb33c2da839f17295a564c'}
results = defaultdict()

In [13]:
for i in range(1,80,20):
    start = i
    print(start)
    url = "https://developers.zomato.com/api/v2.1/search?entity_id=4&entity_type=city&start="+str(start)+"&count=20"
    resp = requests.get(url,headers=headers1)
    json_data = json.loads(resp.text)
    results[start] = json_data

1
21
41
61

In [26]:
keys = [key for key in results.keys()]
print(keys)

final_dict = defaultdict(list)

for key in keys:
    resto_list = results[key]['restaurants']
    for restos in resto_list:
        final_dict['res_id'].append(restos['restaurant']['id'])
        final_dict['name'].append(restos['restaurant']['name'])
        final_dict['addr'].append(restos['restaurant']['location']['address'])
        final_dict['locality'].append(restos['restaurant']['location']['locality'])
        final_dict['lat'].append(restos['restaurant']['location']['latitude'])
        final_dict['long'].append(restos['restaurant']['location']['longitude'])
        final_dict['cusines'].append(restos['restaurant']['cuisines'])
        final_dict['aggr_rating'].append(restos['restaurant']['user_rating']['aggregate_rating'])
        final_dict['rate_text'].append(restos['restaurant']['user_rating']['rating_text'])
        final_dict['votes'].append(restos['restaurant']['user_rating']['votes'])

[1, 21, 41, 61]

In [15]:
# raw_df = pd.DataFrame.from_dict(final_dict)

In [67]:
raw_df.head(10)

,res_id,name,addr,locality,lat,long,cusines,aggr_rating,rate_text,votes
0,18871246,ShakesBierre,"Level 5, Eva Mall, Brigade Road, Bangalore","Eva Mall, Brigade Road",12.9710367871,77.6070255786,"Asian, Continental, European, North Indian",4.6,Excellent,858
1,18627369,Biergarten,"4th B Cross, Koramangala 5th Block, Bangalore",Koramangala 5th Block,12.9334267140,77.6143838838,"Continental, North Indian, Chinese, European, ...",4.7,Excellent,2068
2,57833,Big Pitcher,"LR Arcade,4121, Old Airport Road, Bangalore",Old Airport Road,12.9601384392,77.6469237730,"American, Continental, North Indian, Mediterra...",4.7,Excellent,10091
3,18874059,The Pump House,"607, 15th Cross, Outer Ring Road, 1st Phase, J...",JP Nagar,12.9065451310,77.5821393728,"Continental, Finger Food",4.4,Very Good,1227
4,54162,The Black Pearl,"105, 1st A Cross Road, Jyothi Nivas College Ro...",Koramangala 5th Block,12.9344024486,77.6161289960,"North Indian, European, Mediterranean",4.7,Excellent,11264
5,18625420,Burma Burma,"607, Ground Floor, 12th Main, Hal 2nd Stage, I...",Indiranagar,12.9703944526,77.6447132975,"Asian, Burmese",4.7,Excellent,1926
6,18945224,Secret Of Bangalore,"Shakthi Hill Resort, BEML Layout, Off Mysore R...",Rajarajeshwari Nagar,12.9093987813,77.5272493064,"North Indian, South Indian, Continental, Asian...",4.5,Excellent,1364
7,18576435,Shift,"1085, 14th Main, 18th Cross, Sector 3, HSR, Ba...",HSR,12.9118095871,77.6388925686,"Finger Food, Continental, North Indian",4.2,Very Good,2194
8,18617852,Onesta,"90/3, Opposite Innovative Multiplex, Beside Wo...",Marathahalli,12.9507766402,77.6998031884,"Pizza, Italian, Fast Food, Beverages, Desserts",4.5,Excellent,3424
9,18580202,1131 Bar + Kitchen,"100 Feet Road, HAL 2nd Stage, Indiranagar, Ban...",Indiranagar,12.9698808451,77.6412837580,"Continental, Asian, Italian, North Indian",4.5,Excellent,3301

In [22]:
# raw_df.to_csv('./hotel_data.csv',index=False)

In [23]:
df = pd.read_csv('./hotel_data.csv')

In [24]:
df.head()

,res_id,name,addr,locality,lat,long,cusines,aggr_rating,rate_text,votes
0,18871246,ShakesBierre,"Level 5, Eva Mall, Brigade Road, Bangalore","Eva Mall, Brigade Road",12.971037,77.607026,"Asian, Continental, European, North Indian",4.6,Excellent,858
1,18627369,Biergarten,"4th B Cross, Koramangala 5th Block, Bangalore",Koramangala 5th Block,12.933427,77.614384,"Continental, North Indian, Chinese, European, ...",4.7,Excellent,2068
2,57833,Big Pitcher,"LR Arcade,4121, Old Airport Road, Bangalore",Old Airport Road,12.960138,77.646924,"American, Continental, North Indian, Mediterra...",4.7,Excellent,10091
3,18874059,The Pump House,"607, 15th Cross, Outer Ring Road, 1st Phase, J...",JP Nagar,12.906545,77.582139,"Continental, Finger Food",4.4,Very Good,1227
4,54162,The Black Pearl,"105, 1st A Cross Road, Jyothi Nivas College Ro...",Koramangala 5th Block,12.934402,77.616129,"North Indian, European, Mediterranean",4.7,Excellent,11264

## Getting user reviews per restaurant

In [37]:
reviews = defaultdict()

In [3]:
url = "https://developers.zomato.com/api/v2.1/reviews?res_id=18871246"
resp = requests.get(url,headers=headers1)
json_data = json.loads(resp.text)

In [4]:
print(json_data)

{'reviews_count': 544, 'reviews_start': 0, 'reviews_shown': 5, 'user_reviews': [{'review': {'rating': 5, 'review_text': 'The ambience is really amazing and perfect for occasions. The staff is very polite. Special mention to George and mimin who were very polite...', 'id': 43250837, 'rating_color': '305D02', 'review_time_friendly': 'an hour ago', 'rating_text': 'Insane!', 'timestamp': 1558957833, 'likes': 0, 'user': {'name': 'Jivitesh Mehta', 'foodie_level': 'Foodie', 'foodie_level_num': 3, 'foodie_color': 'ffd35d', 'profile_url': 'https://www.zomato.com/users/jivitesh-mehta-34724377?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1', 'profile_image': 'https://b.zmtcdn.com/images/user_avatars/cupcake.png?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A', 'profile_deeplink': 'zomato://u/34724377'}, 'comments_count': 0}}, {'review': {'rating': 4, 'review_text': 'This place is an absolute delight! As this is my first visit to ShakesBierre.\xa0 Wonderful ambience with great food💯🍲🎉 Definitely wo...', 'id': 43247505, 'rating_color': '5BA829', 'review_time_friendly': '5 hours ago', 'rating_text': 'Great!', 'timestamp': 1558943418, 'likes': 0, 'user': {'name': 'Vidhan Maheshwari', 'foodie_level': 'Foodie', 'foodie_level_num': 3, 'foodie_color': 'ffd35d', 'profile_url': 'https://www.zomato.com/users/vidhan-maheshwari-33228235?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1', 'profile_image': 'https://b.zmtcdn.com/data/user_profile_pictures/459/52a7d80b98f3e4508c4aef082a06b459.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A', 'profile_deeplink': 'zomato://u/33228235'}, 'comments_count': 0}}, {'review': {'rating': 4, 'review_text': 'Visited the place on a Saturday evening, sweet interior, has a nice bar section, and a rooftop for a great experience.. must say that the fo...', 'id': 43242887, 'rating_color': '5BA829', 'review_time_friendly': '18 hours ago', 'rating_text': 'Great!', 'timestamp': 1558896103, 'likes': 0, 'user': {'name': 'Anubha Singh Rathod', 'foodie_level': 'Foodie', 'foodie_level_num': 2, 'foodie_color': 'ffd35d', 'profile_url': 'https://www.zomato.com/users/anubha-singh-rathod-47655137?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1', 'profile_image': 'https://b.zmtcdn.com/data/user_profile_pictures/d1a/de69f94604aef2c5bd2a59916aec5d1a.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A', 'profile_deeplink': 'zomato://u/47655137'}, 'comments_count': 0}}, {'review': {'rating': 4, 'review_text': 'definitely worth a visit. Who would imagine a combination of chips with fried beef but these guys :D\xa0 Dropped in on a busy Friday night to ...', 'id': 43236270, 'rating_color': '5BA829', 'review_time_friendly': '23 hours ago', 'rating_text': 'Great!', 'timestamp': 1558878823, 'likes': 0, 'user': {'name': 'Richie Sam Oommen', 'zomato_handle': 'richiesam', 'foodie_level': 'Super Foodie', 'foodie_level_num': 10, 'foodie_color': 'f58552', 'profile_url': 'https://www.zomato.com/richiesam?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1', 'profile_image': 'https://b.zmtcdn.com/data/user_profile_pictures/e2e/b20dfbef9c8543fe18f8ac9129825e2e.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A', 'profile_deeplink': 'zomato://u/1268537'}, 'comments_count': 0}}, {'review': {'rating': 5, 'review_text': 'Ambiance and food was very good, Bijit served us and he was very polite and welcoming. I loved the quality of wine and beer. The pasta and p...', 'id': 43224448, 'rating_color': '305D02', 'review_time_friendly': 'yesterday', 'rating_text': 'Insane!', 'timestamp': 1558812160, 'likes': 0, 'user': {'name': 'Madhup', 'foodie_level': 'Big Foodie', 'foodie_level_num': 4, 'foodie_color': 'ffae4f', 'profile_url': 'https://www.zomato.com/users/madhup-53716589?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1', 'profile_image': 'https://b.zmtcdn.com/images/user_avatars/cupcake.png?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A', 'profile_deeplink': 'zomato://u/53716589'}, 'comments_count': 0}}], 'Respond to reviews via Zomato Dashboard': 'https://www.zomato.com/business/claim?ref=rpg&resid=18871246#claim'}

In [38]:
for res_id in df.res_id:
    url = "https://developers.zomato.com/api/v2.1/reviews?res_id="+str(res_id)
    resp = requests.get(url,headers=headers1)
    json_data = json.loads(resp.text)
    reviews[res_id] = json_data['user_reviews']
    
    print(res_id)

18871246
18627369
57833
18874059
54162
18625420
18945224
18576435
18617852
18580202
18578798
18801352
18853706
18254597
18353127
18765119
52599
18480016
18767303
18762571
18843699
18422898
18313531
18701989
18866963
18772094
18727906
18224672
50691
18537585
54165
18903445
18807850
18790994
58882
18628654
18605417
60673
18642512
53784
18608512
58049
18577681
51040
18585733
18385443
18629607
52015
18684431
18579174
18996772
53124
58725
18359919
18353121
56573
18503723
50474
50066
18734311
18657127
18593506
18339863
59713
18605025
18379660
58268
51705
18526279
18612909
18535583
18782265
18275048
61381
18880430
18308756
18512886
18608773
18777147
18492910

In [59]:
final_review = defaultdict(list)
for key in reviews.keys():
    for review in reviews[key]:
        final_review['res_id'].append(key)
        final_review['user_id'].append(review['review']['id'])
        final_review['rating'].append(review['review']['rating'])
        final_review['rating_text'].append(review['review']['review_text'])

In [60]:
len(final_review['rating_text'])

400

In [61]:
raw_df_rew = pd.DataFrame.from_dict(final_review)

In [65]:
raw_df_rew.head(10)

,res_id,user_id,rating,rating_text
0,18871246,43197913,5,I really liked d overall experience. Hope to v...
1,18871246,43197154,3,I visiting this place on a Saturday evening wi...
2,18871246,43183313,4,We tried only the drinks n mocktails here as w...
3,18871246,43177621,5,Beautifull place. Brigade road Bangalore shake...
4,18871246,43176351,5,"What a place! Wonderful location, ambience, fo..."
5,18627369,43196409,4,Sunday afternoon visited this place. Located i...
6,18627369,43186382,5,Lovely ambience. Amazing food. Irani Paneer Ti...
7,18627369,43185531,5,Visited here for Sunday evening dinner. This i...
8,18627369,43176212,5,Amazing place. Specially some of the person co...
9,18627369,43175640,5,I was escorted by mr Sanjeev it was awsome exp...

In [63]:
raw_df_rew.to_csv('./hotel_review.csv',index=False)

In [68]:
review_df = pd.read_csv('./hotel_review.csv')
review_df.head()

,res_id,user_id,rating,rating_text
0,18871246,43197913,5,I really liked d overall experience. Hope to v...
1,18871246,43197154,3,I visiting this place on a Saturday evening wi...
2,18871246,43183313,4,We tried only the drinks n mocktails here as w...
3,18871246,43177621,5,Beautifull place. Brigade road Bangalore shake...
4,18871246,43176351,5,"What a place! Wonderful location, ambience, fo..."

In [71]:
len(review_df.res_id.unique()), len(review_df.user_id.unique())

(80, 400)